
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, small, strong, sub, sup, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, nav, button, section, header, footer, title {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
	box-sizing : border-box; /* retire les marges internes et bordures des dimensions de la boite */
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
}


body >* {
	flex: 100%;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

 footer  {
	display: flex;
	width: 100%;
	padding: 20px 0px;
	box-shadow: 0px 0px 15px #333;
    background-color: #1a1a44;
	border-top: 3px #ae952e solid;
    min-height: 100px;
}


section {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	padding-bottom: 20px;
	margin: 5px 10px;
	box-shadow: 0px 0px 10px #bbb;
	/*background-color: */
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}

h2 {
	margin: 5px 0;
}

h3 {
	margin: 40px 0;
}

section > div {
	width: 95%;
}

main  {
	display: flex;
	flex-direction: column;
	
}

.button {
	display: inline-block;
	height: 100%;
	min-height: 21px;
	background-color: rgba(28, 37, 212, 1);
	color: white;
	cursor: pointer !important;
	text-align: center;
	border-radius: 5px;
}


.social {
	display: flex;
	justify-content: space-around;
	margin: 10px auto 0px auto;
}

.social img {
	width: 40px;
	height: 40px;
}

/********************************/
/*********HEADER*****************/
/********************************/
.main-header {
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 0px 15px #333;
    background-color: #1a1a44;
    border-bottom: 3px #ae952e solid;
    color: #fff;
}

.nav-wrapper {    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header p{
	padding-left : 20px;
}

.menu {
    /*display: none;*/ /* le menu est cache par defaut */
    flex-basis: 100%;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0; /**/
    overflow: hidden;
    padding: 0 2em;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
    visibility: hidden; /**/
}

.menu-checkbox:checked ~ .menu {
    /*display: block;*/
	margin: 1em 0;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.menu-checkbox:checked + .menu {
	margin: 1em 0;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #ae952e auto 5px;
}

.menu-toggle {
    padding: .5em 1em;
    display: inline-block;/**/
}

.menu li {
    border-bottom: 1px solid #eee;
}

.menu li a {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
}

.menu li a:hover {
  background-color: #f4f4f4;
  color: #333;
}

/*****************************/
/*****************************/
/*****************************/
 #principale {
	text-align: center;
	border-bottom: 2px dashed #ccc;
	background-image: url('images/seascape.jpg');
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
 }

 #principale a {
 	display: block;
 	text-align: center;
 	padding: 10px;
 	margin: 10px auto 30px auto;
 	border-radius: 5px;
 }

.presentation {
	margin-top: 10px;
	padding-bottom: 0px;
}

article {
	margin-left: calc(50%/2);
	margin-top: 20px;
}

.main-bloc-inside {
	font-size:1em; 
	line-height:2.5em; 
	text-align:center;
	width: 45%;
	background-color : ghostwhite;
	border-radius: 5px;
}

.photo {
	text-align: center;
}

.photo img {
	width: 150px;
	height: 150px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 10px #777;
	border-radius: 50%;
	margin-top: -80px;
}

.contactbox {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.contactbox p:first-child {
	flex: 0 0 40%;
}

.contactbox p:last-child {
	flex: 0 0 60%;
}

/*****************************/
/*********COMPETENCES*********/
/*****************************/
#competences {
	background-color: #f1f2f6;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10px;
}

#competences h2 {
flex: 4 0 100%;
text-align: center;
margin-bottom: 10px;
}

#info {
	background-color : ghostwhite;
	flex: 0 0 20%;
	border-radius: 10px;
}

#autres {
	background-color:  ghostwhite;
	flex: 0 0 20%;
	border-radius: 10px;
}

#langues {
	background-color:  ghostwhite;
	flex: 0 0 20%;
	border-radius: 10px;
}

#perso {
	background-color: ghostwhite;
	flex: 0 0 20%;
	border-radius: 10px;
}

.comp {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10px;
}

.progressBar {
	flex: 0 0 90%;
	height: 1.5em;
	width: 300px;
	background-color: #191919;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
	-webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
	-moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
	margin-bottom: 10px;
}

.progressBar span {
	display: block;
	height: 100%;
	padding-left: 5px;
	color: #fff;
	/*transition: width;
	width: 0%;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);

	background-color: rgb(43,194,83);
	background-image: linear-gradient(center bottom, 
		rgb(43,194,83) 75%, 
		rgb(84,240,84) 25%);
  	box-shadow: 
  		inset 0 2px 9px  rgba(255,255,255,0.3), 
  		inset 0 -2px 6px rgba(0,0,0,0.4);
  	position: relative;
  	overflow: hidden;
  	*/
}


.p100 {
	width: 100%;	
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p95 {
	width: 95%;		
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p90 {
	width: 90%;	
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p85 {
	width: 85%;	
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p80 {
	width: 80%;		
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p75 {
	width: 75%;
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p70 {
	width: 70%;		
  background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.p65 {
	width: 65%;
	background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}
.p60 {
	width: 60%;	
	background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}
.p55 {
	width: 55%;
	background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}
.p50 {
	width: 50%;	
	background-color: rgba(28, 37, 212, 1);
  background-image: -webkit-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: -o-linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
  background-image: linear-gradient(rgba(28, 37, 212, 1), #1A1A44);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

/*****************************/
/**********PORTFOLIO**********/
/*****************************/

#portfolio h2, #portfolio h3 {
	flex: 4 0 100%;
	text-align: center;
	margin-bottom: 10px;
}

.gallery {
	margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.gallery-item{
	margin: 1rem;
	position: relative;
}

.gallery-item img {
	display: block;
	max-width: 100%;
}

.gallery-item-legend {
	position: absolute;
	margin-top:-50px;
	background-color: black;
	color: white;
	height: 50px;
	width: 100%;
	max-width: 100%;
	text-align: center;
	opacity:0;
}

.gallery-item-legend:hover {
	opacity: 0.75;
	transition-delay: 0.2s;
}


/*****************************/
/*********EXPERIENCES*********/
/*****************************/
#experiences {
	background-color: #f1f2f6;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 10px;
}

#experiences h2, #experiences h3 {
	flex: 4 0 100%;
	text-align: center;
	margin-bottom: 10px;
}

.gridpexperiences {
	list-style: none;
	padding: .5em;
	display: grid; /* grille*/
	grid-auto-flow: row; /*distribution auto*/
	grid-template-columns: 1fr; /* une seule colonne si pas de media queries*/
    grid-gap: 20px;
    gap: 20px; /* gouttière */
    justify-content: center; /* centrage des colonnes */
    margin:5px 0 20px 0;
    padding:0 20px;
}

.gridpexperiences-item {
	margin: .5em;
	background-color: ghostwhite;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #bbb;
	text-align: center;
}

.gridpexperiences-item h3 {
	margin-top: 10px;
}

.gridpexperiences-item-description {
	text-align: left;
	padding-top: 20px;
	padding-left: 10px;
}

/*****************************/
/*********FORMATIONS*********/
/*****************************/
#formations {
	background-color: #f1f2f6;
}

#formations h2 {
	flex: 4 0 100%;
	text-align: center;
	margin-bottom: 10px;
}

.form-button {
	flex: 4 0 100%;
	text-align: center;
	margin-bottom: 10px;
}

.form {
	flex: 0 0 30%;
	margin-bottom: 20px;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: ghostwhite;
	border-radius: 10px;
}

.icon {
	position: relative;
	text-align: center;
}

.icon figcaption {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.content h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.content-content {
	text-align: center;
}


/********************************/
/*********INTERETS***************/
/********************************/
#centresinteret {
	background-image: url('images/boat-962799_1920.jpg');
}

#centresinteret img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0px 0px 15px #555;
}

.interets {
	display: flex;
	flex-flow: row wrap;	
}

/********************************/
/*********CONTACT****************/
/********************************/
#contact {
	background-image: url('images/code-2620118_1920.jpg');
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .75;
}

.cont {
	display: flex;
	flex-flow: row wrap;
}

.cont-item {
	flex: 0 0 40%;
}

.formcontact {
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
	flex: 0 0 50%;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/********************************/
/*********FOOTER*****************/
/********************************/
footer p {
	width: 90%;
	margin: 0 auto;
	color:#fff;
	text-align: center;
}






/*****************************/

@media screen and (min-width: 600px) {
	.gallery {
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	}
	.gallery-item {
	  width: calc(50% - 2rem);
	}
  }


@media (min-width: 1000px) {
	section {
		width: 100%;
		box-shadow: 0px 0px 10px #bbb;
	}

	a:hover {color: #EA0;
	}
	
	
	#principale, .contact {
		flex: 0 0 45%;
	}

	#principale {
		border-bottom: none;
		border-right: 2px solid #ccc;
		padding-right: 20px;
		padding-left: 20px;
		margin-right: auto;
	}

	#principale a {
		border: 2px solid transparent;
		box-shadow: none;
	}

	#principale a:hover {
		color: #1a1a44;
		background-color:#fff;
		box-shadow: 0px 0px 20px #666;
	}

	.gallery-item {
	  width: calc(100% / 3 - 2rem);
	}

	
	.expinfo, .expdescription, .formatinfo, .formatdescription {
		flex: 0 0 85%;
		margin-left: auto;
	}

	#centresinteret {
		flex: 0 1 25%;
	}
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 65em) {
    .menu {
        flex-basis: auto;
        margin: 0;
        max-height: 1000px;
        opacity: 1;
        padding: 0;
        visibility: visible;
    }

    .menu-toggle,
    .menu-checkbox {
        display: none;
    }

    .menu li {
        border: none;
        display: inline-block;
    }

	.menu li a {
	    padding: .5em;
	}

}
